= f.input :email
= f.input :first_name
= f.input :last_name
= f.input :city, :as => :select, :collection => User::CITIES, :prompt => true
= f.input :email_notification
- if defined?(show_password)
  = f.input :password
  = f.input :password_confirmation
p.input= f.button :submit, :class => "submit mid"
