.grid_8
  h1= @heading
  p Purchased products will be distributed through the 2threads head office, and will be sent out to customers via express post within 5-7 days of purchase. If for any reason a successful purchase cannot be fulfilled by the nominated supplier, the customer will be notified via email within 48 hours of purchase and will be issued with a full refund to their account.
