.grid_8
  h1= @heading
  p 2threads will offer discounted vouchers that may be purchased on the website and redeemed at various fashion retailers, beauty services and hospitality locations within Sydney. The website will also offer various fashion and beauty related products (including clothing and accessories) at a discounted price.
