.grid_8
  h1= @heading
  p Once a product has been purchased via the 2threads web site returns will not be accepted for change of mind or wrong decision of size, colour or style. Returns will be accepted for faulty or damaged goods at the fault of the manufacturer or supplier and must be returned to the 2threads head office within 10 days of purchase. Once 2threads receive the damaged goods the customer will be issued a full refund.
