.grid_8
  h1= @heading
  p Discounted vouchers will be distributed electronically to customer’s email accounts within 24 hours of purchase. Fashion and beauty related products will be distributed through the 2threads head office, and will be sent out to customers via express post within 5-7 days of purchase.
